.aasd{
display: flex;
justify-content: center;

}




.abdullah{
display: flex;
justify-content: center;
align-items: center;
border: 2px solid blue;
height: 345px;
width: 500px;
}
.wa{
text-decoration: none;
color: black;

}
.even{
padding-top:220px;
padding-left: 134px;


}
.wsss{
height: 120px;
padding-right: 190px;

}